* {
    box-sizing: border-box;
}

body {
  background-image: url('https://i.imgur.com/2goIjZj.png');
  background-size: 100%;
  background-repeat:no-repeat;
  background-color: #F8F8F8;
}

// CONTAINERS
div {
  &.main-container {
    margin-top: 12%;
  }
  div {
    &.row:after {
        display: table;
        clear: both;
    }
  }
  div {
    &.column {
        float: left;
        width: 45%;
        max-height: 70%;
        text-align: center;
        margin: 2%;
        padding-top: 3%;
        background-color: white;
        background-image: linear-gradient(top, white, white 80%, #F8F8F8 80%, #F8F8F8 100%);
        background-image: -webkit-linear-gradient(top, white, white 80%, #F8F8F8 80%, #F8F8F8 100%)
    }
  }
}


// FONTS, BUTTONS AND IMAGES
div {
  h1 {
    &.title {
      color: #000000;
      font-size: 28px;
      font-family: Didot;
      background-color: white;
    }
  }
  button {
    &.button {
      color: #0F2A31;
      font-size: 16px;
      font-family: Didot;
      background-color: white;
      margin-bottom: 6%;
      border: 1px solid #E8E8E8;
      padding:  2% 15% 2% 15%;
    }
  }
  img {
    &.image {
      width: 50%;
      -webkit-box-shadow: 3px 3px 5px 6px #E8E8E8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow:    3px 3px 5px 6px #E8E8E8;  /* Firefox 3.5 - 3.6 */
      box-shadow:         3px 3px 5px 6px #E8E8E8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
  }
  img:hover {
    opacity: 0.7;
  }
  p {
    &.likes {
      font-family: Didot;
      font-weight: lighter;
      color: #757575;
      margin-top: 2%;
    }
  }
}

// RESPONSIVENESS
@media only screen and (max-width: 800px) {
  div {
    h1 {
      &.title {
        font-size: 20px;
      }
    }
    button {
      &.button {
        font-size: 12px;
      }
    }
  }

  div {
    div {
      &.column {
          width: 90%;
      }
    }
  }
}


@media only screen and (max-width: 500px) {
  div {
    h1 {
      &.title {
        font-size: 15px;
      }
    }
    button {
      &.button {
        font-size: 8px;
      }
    }
  }
}
